<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783199260718-b3mhbdr67sf2pv2bratmkjnipu7ciun5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783199260718-b3mhbdr67sf2pv2bratmkjnipu7ciun5</string>
	<key>API_KEY</key>
	<string>AIzaSyD2_xo9EtMFJyk_NiEb1sht52D2VW4oSfM</string>
	<key>GCM_SENDER_ID</key>
	<string>783199260718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.gtwins.pushy.pushy</string>
	<key>PROJECT_ID</key>
	<string>boss-a35e7</string>
	<key>STORAGE_BUCKET</key>
	<string>boss-a35e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783199260718:ios:d947b90ef753c5f6f1cfbf</string>
</dict>
</plist>