<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863174772760-lmk7362bcqp4b9jh2f8hor9gg79k174p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863174772760-lmk7362bcqp4b9jh2f8hor9gg79k174p</string>
	<key>API_KEY</key>
	<string>AIzaSyBGhxI4a0E8LjPnSRhviKP7B0te0khAuE4</string>
	<key>GCM_SENDER_ID</key>
	<string>863174772760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.gtwins.pushy.pushy</string>
	<key>PROJECT_ID</key>
	<string>line-teacher</string>
	<key>STORAGE_BUCKET</key>
	<string>line-teacher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863174772760:ios:ee660c8828a2f30be31b6d</string>
</dict>
</plist>